# 日报
snippet gongzuoribao
	=== 工作日志-吴登-`strftime("%Y%m%d")` ===
	=== 入职第${1:count}天-吴登-开发-`strftime("%Y%m%d")` ===
	==== 工作内容小结 ====
	# ${2:content} 
# 周报
snippet gongzuozhoubao
	=== 入职第${1:count}周-吴登-开发-`strftime("%Y%m%d")` ===
	==== 本周工作内容 ====
	# ${2:content} 
